<script type="text/ng-template" id="editor/plaintextField">
  <div ng-show="!inEditMode" ng-click="startEditing()"
       class="view-mode">
    <span ng-if="displayedValue"><[displayedValue]></span>
    <span ng-if="!displayedValue" class="placeholder">Type the title of your exploration.</span>
    <i class="material-icons edit-icon" title="Edit Title">&#xE254;</i>
  </div>

  <div ng-show="inEditMode" class="edit-mode">
    <input type="text" ng-model="displayedValue" ng-blur="finishEditing()"
           ng-keypress="onKeypress($event)" focus-on="<[focusLabel]>"
           placeholder="Type the title of your exploration.">
    <span class="bar"></span>
  </div>
</script>

<style>
  plaintext-field {
    height: 75px;
    line-height: 75px;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }

  plaintext-field .view-mode {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 20px;
    position: relative;
  }
  plaintext-field .view-mode:hover {
    background-color: #d6d6d6;
    color: #444;
  }
  plaintext-field .view-mode .placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  plaintext-field .view-mode .edit-icon {
    font-size: 18px;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 25px;
  }
  plaintext-field .view-mode:hover .edit-icon {
    opacity: 1.0;
  }

  plaintext-field .edit-mode {
    color: #444;
    padding: 0 20px;
  }
  plaintext-field .edit-mode input {
    border: none;
    margin: 0;
    outline: 0;
    width: 100%;
  }

  plaintext-field .edit-mode .bar {
    display: block;
    position: relative;
    width: 100%;
  }
  plaintext-field .edit-mode .bar:before, plaintext-field .edit-mode .bar:after {
    background: #66bb6a;
    bottom: 1px;
    content: '';
    height: 2px;
    position: absolute;
    transition: 0.2s ease all;
    width: 0;
  }
  plaintext-field .edit-mode .bar:before {
    left: 50%;
  }
  plaintext-field .edit-mode .bar:after {
    right: 50%;
  }
  plaintext-field .edit-mode input:focus ~ .bar:before,
  plaintext-field .edit-mode input:focus ~ .bar:after {
    width: 50%;
  }
</style>
