<script type="text/ng-template" id="editor/question">
  <div ng-if="interaction.id">
    <select class="form-control"
            ng-model="interaction.id"
            ng-change="saveInteractionId()"
            ng-options="interactionData.id as interactionData.name for interactionData in INTERACTION_DETAILS">
    </select>
  </div>

  <div ng-if="interaction.id === 'MultipleChoiceInput'">
    <div ng-repeat="field in fields track by $index" ng-show="$index < sidebarConfig.numElementsToShow">
      <div ng-if="field.directiveName === 'multiple-choice-prompt'">
        <multiple-choice-prompt init-customization-args="field.initCustomizationArgs()"
                                on-edit="field.save">
        </multiple-choice-prompt>
      </div>

      <div ng-if="field.directiveName === 'multiple-choice-correct-answer'">
        <multiple-choice-correct-answer init-customization-args="field.initCustomizationArgs()"
                                        init-answer-groups="field.initAnswerGroups()"
                                        state-name="getStateName()"
                                        on-edit="field.save">
        </multiple-choice-correct-answer>
      </div>

      <div ng-if="field.directiveName === 'multiple-choice-hints'">
        <multiple-choice-hints init-customization-args="field.initCustomizationArgs()"
                               init-answer-groups="field.initAnswerGroups()"
                               init-default-outcome="field.initDefaultOutcome()"
                               on-edit="field.save">
        </multiple-choice-hints>
      </div>

      <div ng-if="field.directiveName === 'html-field'">
        <div class="header">
          Bridge text
        </div>
        <html-field init-displayed-value="field.initContent()"
                    identifier="<[field.id]>"
                    on-finish-editing="field.save"
                    placeholder="Type the bridge text">
        </html-field>
      </div>
    </div>
  </div>
</script>
